.container {
    margin-top: 20px;
}

.jumbotron {
    text-align: center;
}

table, tr {
    margin-bottom: 25px;
}

#submit-btn {
    margin-right: 10px;
    margin-left: 10px;
}

#name {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 10px;
}

#destination {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 10px;
}

#time {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 10px;
}

#frequency {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 10px;
}

label {
    margin-left: 10px;
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    position: relative;
    background-color: lightgray;
    padding: 30px 0;
    margin-top: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.table {
    max-width: 50%;
    
}