.container {
    margin: 10px;
    
}

.jumbotron {
    text-align: center;
}

table, tr {
    margin-bottom: 25px;
}

#submit-btn {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#name {
    width: 95%;
    margin-bottom: 20px;
    margin-left: 10px;
}

#destination {
    width: 95%;
    margin-bottom: 20px;
    margin-left: 10px;
}

#time {
    width: 95%;
    margin-bottom: 20px;
   margin-left: 10px;
    margin-right: 10px
}

#frequency {
    width: 95%;
    margin-bottom: 20px;
    margin-left: 10px;
}

label {
    margin-left: 10px;
    margin-bottom: 10px;
}

.formEdit {
    margin-top: 10px;
}

.footer {
    text-align: center;
    position: relative;
    background-color: lightgray;
    padding: 40px 0;
    margin-top: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.table {
   
    
}